<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- import CSS -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/element-plus/dist/index.css"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app">
    </div>
    <script src="//unpkg.com/vue@3"></script>
    <script src="//unpkg.com/element-plus"></script>
    <!-- <script src="//unpkg.com/@element-plus/icons-vue"></script> -->
    <script src="//unpkg.com/prettier@2.4.1/standalone.js"></script>
    <script src="//unpkg.com/prettier@2.4.1/parser-graphql.js"></script> 
    <script src="//unpkg.com/prettier@2.4.1/parser-html.js"></script> 
    <script src="//unpkg.com/prettier@2.4.1/parser-babel.js"></script> 
    <script src="//unpkg.com/prettier@2.4.1/parser-typescript.js"></script> 
  </body>
</html>
